@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../assets/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Baloo 2", sans-serif;
  color: #822e2e;
}

h1 {
  font-size: 48px;
}

p {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

img.logo {
  aspect-ratio: 1;
  height: 35px;
}

img.logo-form {
  aspect-ratio: 1;
  height: 150px;
}

p.logo-bold {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #ac5841;
  font-size: 20px;
}

p.logo-cursive {
  font-family: "Cedarville Cursive", serif;
  color: #822e2e;
  font-size: 20px;
}

p.caveat {
  font-family: "Caveat", sans-serif;
  color: #ac5841;
  font-size: 50px;
  font-weight: bold;
}

.caveat-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100px;
  bottom: 80px;
}

/* BUTTON STYLES */
button {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  padding: 6px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

button.outline {
  border: 1px solid #822e2e;
  color: #822e2e;
  background-color: #fff;
}

button.filled {
  border: 1px solid #822e2e;
  color: #fff;
  background-color: #822e2e;
}

button.filled.full {
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: #5d2121;
  color: #fff;
}

/* BODY */

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* justify-content: space-between; */
  width: 100%;
  height: 100vh;
}

.left-container {
  flex-grow: 1;
}

.form {
  background-color: #fff7eb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  width: 30%;
  padding: 50px 60px;
  box-shadow: -4px 0 10px 2px rgba(0, 0, 0, 0.2);
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img.overlay.back {
  position: absolute;
  bottom: 0.1px;
  width: 80%;
  z-index: -200;
}

img.overlay.front {
  position: absolute;
  bottom: 0.1px;
  width: 50%;
  z-index: -100;
}

input {
  border: 2px solid #822e2e;
  padding: 8px 16px;
  border-radius: 8px;
  color: #822e2e;
  font-size: 16px;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  width: 100%;
}

input::placeholder {
  color: #c89283;
}

.login-text {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.login-text img {
  aspect-ratio: 1;
  width: 50px;
}

.logo-text-big {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logo-text-big p {
  font-size: 28px;
}

/* LINKS */
a {
  color: #822e2e;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: #5d2121;
}
