@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff7eb;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Baloo 2", sans-serif;
  color: #822e2e;
}

h1 {
  font-size: 48px;
}

p {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

a.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  color: #822e2e;
  text-decoration: none;
  border-radius: 10px;
}

a.nav-link svg {
  fill: currentColor;
  max-height: 16px;
  width: auto;
}

a.nav-link:hover {
  background-color: #822e2e;
  color: #fcead0;
  cursor: pointer;
}

a.nav-link-logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 2px 8px;
  background-color: #822e2e;
  color: #fcead0;
  text-decoration: none;
  border-radius: 10px;
}

a.nav-link-logout svg {
  fill: currentColor;
  max-height: 16px;
  width: auto;
}

a.nav-link-logout:hover {
  background-color: #980909;
  color: #fcead0;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

img.logo {
  aspect-ratio: 1;
  height: 35px;
}

p.logo-bold {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #ac5841;
  font-size: 20px;
}

p.logo-cursive {
  font-family: "Cedarville Cursive", serif;
  color: #822e2e;
  font-size: 20px;
}

p.caveat {
  font-family: "Caveat", sans-serif;
  color: #ac5841;
  font-size: 50px;
  font-weight: bold;
}

.caveat-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100px;
  bottom: 80px;
}

/* BUTTON STYLES */
button {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  padding: 6px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button.outline {
  border: 1px solid #822e2e;
  color: #822e2e;
  background-color: #fff;
}

button.filled {
  border: 1px solid #822e2e;
  color: #fff;
  background-color: #822e2e;
}

button.filled.full {
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: #5d2121;
  color: #fff;
}

/* NAVIGATION BUTTONS */
a.btn {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 500px;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
}

/* BODY */
main {
  padding: 30px 50px;
}

span.name {
  text-decoration: underline;
}

/* section */
section.tables {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* summary (left) */
article.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
}

article.summary .sales {
  border: 2px solid #572908;
  background-color: #5d2121;
  border-radius: 30px;
  padding: 20px;
  color: #fcead0;
}

article.summary div .icon img {
  height: 30px;
  width: 30px;
}

article.summary .sales .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: fit-content;
  padding: 8px;
  border-radius: 50px;
}

article.summary .summary-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #572908;
  background-color: #fcead0;
  color: #572908;
  border-radius: 30px;
  padding: 20px;
}

article.summary .summary-card .icon {
  background-color: #822e2e;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 50px;
}

article.summary .summary-name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

article.summary p {
  font-weight: 500;
}

article.summary p.card-info {
  font-size: 48px;
  font-weight: bold;
  font-family: "Baloo 2", sans-serif;
}

/* pending orders (right) */

article.pending-orders {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #572908;
  width: 75%;
  border-radius: 30px;
  padding: 20px 30px;
}

article.pending-orders .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #822e2e;
  width: fit-content;
  padding: 12px;
  border-radius: 50px;
}

article.pending-orders .icon img {
  height: 28px;
  width: 28px;
}

article.pending-orders button.outline.create-order {
  width: max-content;
}

/* Finish button */
a.finish-order {
  border: 1px solid #822e2e;
  background-color: #fff7eb;
  color: #822e2e;
}

a.finish-order:hover {
  background-color: #822e2e;
  color: #fff7eb;
}

/* Delete button */
a.delete-order {
  background-color: #822e2e;
  color: #fff7eb;
}

a.delete-order:hover {
  background-color: #980909;
  color: #fcead0;
}

/* TABLES */
table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

table tr.row-border {
  border-bottom: 1px solid #822e2e;
  color: #822e2e;
}

table th,
table td {
  border: none;
  padding: 12px 16px;
  text-align: left;
}

table td.actions {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

/* LINKS */
a {
  color: #822e2e;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: #5d2121;
}
